{{- $hasToolResult := false }}
{{- range .History.Messages }}
  {{- if eq .Kind "tool_result" }}{{ $hasToolResult = true }}{{ end }}
{{- end }}
{{- if $hasToolResult }}
Previous Tool Results:
{{- range .History.Messages }}
  {{- if eq .Kind "tool_result" }}
- tool: {{.ToolName}} result: {{.Content}}
  {{- end }}
{{- end }}
End of Previous Tool Results.

{{- end}}
User Query:
{{.Task.Prompt}}
